{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/checkout.css' %}">
    <style>
      #checkoutMethods {
        background: #fff;
        border-radius: 2px;
        display: inline-block;
        max-height: 700px;
        margin: 1rem;
        position: relative;
        width: 700px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

      }
    </style>
</head>

<body>
    {% include 'messages.html' %}
    <div class="container">
    <section>
      <div class="row" id="tablerow">
      <div class="col-md-4 col-xs-12">
        <div class="panel panel-primary">
          
          <div class="panel-body">
            <h5>Enter Voucher Code Below<br><small>If multiple, separate each with comma</small></h5>

            <div>
              <form action="." method="post">
                {% csrf_token %}
                <input type="text"  name="voucher_codes" class="form-control" id="voucher_code" required>
                <input type="hidden"  name="order_id" value="{{ order.id }}">
                <br>
                <span>
                  <input type="submit" class="btn btn-warning pull-right" value="Apply Voucher"> 
                </span>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-xs-12">
        <table class="table">
          <tr>
            <td><h4>Order Summary</h4></td>
          </tr>
          <tr>
            <td>
              {% for item in order.get_cart_items %}
                <tr>
                  <td>{{ item }}</td>
                  <td>${{ item.product.price }}</td>
                </tr>
              {% endfor %}
            </td>
          </tr>
          <tr>
            <td><strong>Order Total</strong> </td>
            <td> <strong>${{ order.get_cart_total }}</strong></td>
          </tr>
        </table>
        <a href="{% url 'shopping_cart:update_records' %}" class="btn btn-warning" style="width: 100%;">Checkout with a credit card</a>
      </div>
     </div>
    </section>
    


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

</body>
</html>
